
.icon-right-arrow:before { content: '\e800'; } /* '' */
.icon-github:before { content: '\e801'; } /* '' */
.icon-email:before { content: '\e802'; } /* '' */
.icon-whatsapp:before { content: '\e803'; } /* '' */
.icon-vk:before { content: '\e804'; } /* '' */